@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  background-color: #333;
}

main{
    text-align: center;
    width: 220px;
    height: 175px;
    border-radius: 15px;
    box-shadow: 0px 20px 30px rgb(32, 32, 32);
    transition:  all 0.5s; 
}

main:hover{
  
    transform:translateY(-15px);
}


.div_card{
    margin: auto;
    text-align: center;
    transform: translateY(-70px);
    width: 80%;
    height:100%;
    overflow: hidden;
    padding-top: 35px;
   

}

.div_img{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 131px;
    border-radius:10px ;
    background-image: linear-gradient(60deg,gold,orangered,gold,orangered);
    z-index: -1;
    transition:  all 0.5s;
    animation: infinite linear 2s animate;
   
}

@keyframes animate{
    0%{
        background-position: 320px;
    }
}


img{
    width: 100px;
    border-radius:10px ;
    
    
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14pt;
    letter-spacing: 1px;
    margin-top: 10px;
    color: white;
    
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 9pt;
    padding-bottom: 0px;
    color: gold;
   
}



section{
   
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 45px;
}

section a{
    text-decoration: none;
    color:white;
}

section i{
    transform: scale(1.5);
    transition: all 0.5s;
}

section i:hover{
    color: gold;
    transform: scale(1.7)
}


.div_buttons{
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.div_buttons a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    width: 100px;
    height: 30px;
    border-radius: 2px;

}

.message{
    background-image: linear-gradient(45deg,orangered,orangered,gold,orangered,orangered);
    color:white;
    letter-spacing: 2px;
    font-weight: 600;
    transition: all 1s;
   
    
}


.message:hover{
    background-position: 130px;
   
}

.cv{
    border: 1px solid gold;
    color:gold ;
   
}


.button_expandir{
    display: flex;
    justify-content:center;
    align-items:center;
    transform: translateY(-50px) rotateZ(45deg);
    background-color: #333;
    width: 30px;
    height: 30px;
    margin: auto;
    cursor: pointer;
    

   
   
   
   
    
}


.button_expandir i{
    color:white ;
    transform:rotateZ(-45deg) scale(0.8)  ;
    transition: all 0.3s;
    
  
}

.button_expandir i:hover{

    transform:rotateZ(-45deg) scale(1);
    color:orangered;

}


/* ...............................................class criadas com javascript.........................................................*/



.expandir_main{
    height: 300px;
    width: 250px;
}
 .expandir_img{
    transform: scale(1.2) translateY(-15px);
   
 }